<!DOCTYPE html>
<html>
    <head>
        <title> {{ title }} </title>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <meta name="msapplication-TileColor" content="#2b5797">
        <meta name="theme-color" content="#ffffff">

        <meta name = "description" content = "{{ _('Мой первый веб проект и также моя визитка') }}" />
        <meta name = "robots" content = "index, nofollow" />
        <meta name = "keywords" content = "webdev, development, python, html, css, javascript, web">

        <meta property="og:title" content="Hello World By MomoruKun" />
        <meta property="og:description" content="{{ _('Мой первый веб проект и также моя визитка') }}" />
        <meta property="og:type" content="website" />
        <meta property="og:locale" content="ru_RU" />
        <meta property="og:url" content="https://momoru.pythonanywhere.com/" />
        <meta property="og:image" content="https://momoru.pythonanywhere.com/static/img/rsz_dark-1080p.jpg" />

        <link rel="preload" href="/static/css/style.css" as="style"/>
        <link rel="preload" href="/static/css/fullpage.css" as="style"/>
        
        <!--<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/fullpage.css" />-->
        <link rel="stylesheet" type="text/css" href="/static/css/iconmonstr-iconic-font.min.css">

        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">

    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>
